@font-face {
    font-family: "Oswald";
    font-weight: bold;
    src: local("Oswald");
  }

body{
    background-color: #93C751;
}

a[name="fontbold"] { 
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 100%;
    color: white;
    position: absolute;
    width: 25%;
    height: 5%;
    left: 15%;
    top: 40%;
    font-family: 'Oswald';
}

a[name="fontbold2"] { 
    position: absolute;
    width: 30%;
    height: 5%;
    left: 19%;
    top: 50%; 
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    line-height: 100%;
    color: #FFFFFF;
    font-family: 'Oswald';
}

a[name="font_button"] {
    position: absolute;
    width: 100%;
    height: 4%;
    left: 0%;
    top: 50%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 4%;
    color: #80B53C;
    z-index: 1;
    user-select: none;
}

img[name="logo"] {
    position: absolute;
    width: 8.5%;
    height: 9%;
    left: 2.3%;
    top: 1%;
}

img[name="bottle"] {position: absolute;
    width: 12%;
    height: 75%;
    left: 66%;
    top: 14%;
    z-index: 2;
    user-select: none
}

img[name="bgphoto"] {
    position: absolute;
    width: 35%;
    height: 60%;
    left: 58.5%;
    top: 35%;
    z-index: 1;
    user-select: none
}

img[name="lemon"] {
    position: absolute;
    width: 30%;
    height: 33%;
    left: 50%;
    top: 60%;
    transform: matrix(-0.85, 0.52, 0.52, 0.85, 0, 0);
    z-index: 1;
    user-select: none
}

img[name="listok2"] {
    position: absolute;
    width: 7.2%;
    height: 8.9%;
    left: 57%;
    top: 34%;
    transform: matrix(-0.98, 0.22, 0.27, 0.96, 0, 0);
    user-select: none
}

img[name="listok3"] {
    position: absolute;
    width: 9%;
    height: 11%;
    left: 78%;
    top: 25%;
    transform: matrix(0.52, -0.85, 0.9, 0.44, 0, 0);
    user-select: none
}

img[name="lupa"] {
    position: absolute;
    width: 1.2%;
    height: 2.1%;
    left: 96%;
    top: 5%;
}

div[name="whitefon"] {
    position: absolute;
    width: 100%;
    height: 65%;
    left: 0%;
    top: 76%;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #83B93E;
    z-index: 0;
}

div[name="whitefon1"] {
    position: absolute;
    width: 100%;
    height: 11%;
    left: 0%;
    top: 0%;
    background: #FFFFFF;
    z-index: -1;
}

 button[name="button_buy"] {
    position: absolute;
    width: 19.6%;
    height: 6.9%;
    left: 21.5%;
    top: 60%;
    background: #FFFFFF;
    border-radius: 1vw;
    border: none;  
}

.list {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15vw;
    line-height: 140.2%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #343434;
    list-style-type: none;
}

ul{
    list-style-type:  none;
}

.rual{
    text-decoration: none;
}
.rual:visited, .rual:focus, .rual:hover{
    text-decoration: none;
    color: #343434;
}

li[name="company"] {
    position: absolute;
    width: 5%;
    height: 2.5%;
    left: 21.4%;
    top: 4.5%;
    color: #343434;
}

li[name="contacts"] {
    position: absolute;
    width: 4.6%;
    height: 2.5%;
    left: 34.7%;
    top: 4.5%;
}

li[name="news"] {
    position: absolute;
    width: 4%;
    height: 2.5%;
    left: 48%;
    top: 4.5%;
}

li[name="carier"] {
    position: absolute;
    width: 3.8%;
    height: 2.5%;
    left: 61.4%;
    top: 4.5%;
}

li[name="brands"] {
    position: absolute;
    width: 3.8%;
    height: 2.5%;
    left: 74.7%;
    top: 4.5%;
}

a[name="text_4ern"] {
    position: absolute;
    width: 35%;
    height: 24%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 132.7%;
    letter-spacing: 0.075em;
    color: #000000;
    top: 85%;
    left: 16%;
}

.underline {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    }
.underline:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    content: "";
    transition: width 0.5s;
    }
    
.underline:hover:after {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: white;
    content: "";
    transition: width 0.5s;
    } 